In [1]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [5]:
import pandas as pd

In [ ]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_tmp = []
june_tmp = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6)
print(june_tmp.all())

In [15]:
#  3. Convert the June temperatures to a list.
june_tmp = list(june_tmp)

In [16]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_tmp_df = pd.DataFrame(june_tmp, columns=['date','temperature'])

In [17]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_tmp_df.describe()

       temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [ ]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_tmp = []
dec_tmp = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12)
print(dec_tmp.all())

In [19]:
# 7. Convert the December temperatures to a list.
dec_tmp = list(dec_tmp)

In [20]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_tmp_df = pd.DataFrame(dec_tmp, columns=['date','temperature'])
dec_tmp_df

            date  temperature
0     2010-12-01         76.0
1     2010-12-03         74.0
2     2010-12-04         74.0
3     2010-12-06         64.0
4     2010-12-07         64.0
...          ...          ...
1512  2016-12-27         71.0
1513  2016-12-28         71.0
1514  2016-12-29         69.0
1515  2016-12-30         65.0
1516  2016-12-31         65.0

[1517 rows x 2 columns]

In [21]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_tmp_df.describe()

       temperature
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000